body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f1f1;
}

.calculator {
    width: 300px;
    text-align: center;
    background-color: #030303;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.buttons button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
}
